

*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--secondary-font)
}
a{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}


:root{
  /* Font Variable */
  --primary-font: 'Merriweather', serif;
  --secondary-font:'Poppins', sans-serif;
}



@import './Styles/Components/LoginForm.css'